@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

$sp-primary-white: #e8eff2;
$sp-primary-blue: #51839f;
$sp-secondary-blue: #6b95ad;

$aj-primary-tan: #a28d69;
$aj-secondary-tan: #dacfb7;

$aj-primary-gold: #9d8a10;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/Background.png");
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  z-index: 0;
}

.app-bar {
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.app-bar a img.logo {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: none;
  font-weight: 300;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

main {
  margin: 0 auto;
  /* Height of the header */
  min-height: 100%;
}

main.home {

  section.hotels--panels {
    width: 100%;

    .hotel-aj--panel,
    .hotel-sp--panel {
      img.hotel--logo {
        box-sizing: border-box;
        display: block;
        margin: 20px auto;
      }

      label.hotel--firstletter {
        float:left;
        border-style: solid;
        border-width: 2px;
        opacity: 0.4;
        padding: 25px; 
        margin: 5px 20px;
        text-align: center;  
        font-size: 1.4em;  
        font-weight: 800;     
      }

      p.hotel--description {
        height: 100%;
        padding: 0 20px;
      }

      ul.hotel--pictures {
        list-style-type: none;
        margin: 15px auto;
        padding: 0;
        
        li {
          margin: 0;
          padding: 0;
          display: inline-block;
        }
      }
    }

    .hotel-aj--panel {
      background-color: $aj-primary-tan;

      label.hotel--firstletter {
        border-color: $aj-primary-gold;
        background-color: #b09e7f;
        color: $aj-secondary-tan;
      }

      p.hotel--description {
        color: $aj-secondary-tan;
      }
    }

    .hotel-sp--panel {
      background-color: $sp-primary-blue;

      label.hotel--firstletter {
        border-color: $sp-primary-white;
        background-color: $sp-secondary-blue;
        color: $sp-primary-white;
      }

      p.hotel--description {
        color: $sp-primary-white;
      }
    }      
  }
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: middle;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  main {
    max-width: $wideContainer;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
