@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

$sp-primary-white: #e8eff2;
$sp-primary-blue: #074f76;
$sp-secondary-blue: #6b95ad;

$aj-primary-tan: #7b5d2a;
$aj-secondary-tan: #dacfb7;

$aj-primary-gold: #9d8a10;

/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


html {
  background-color: #000;
  background: url(/images/Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  position: relative;
  background-color: #000;
  font-family: 'Droid Serif', serif;
  font-weight: 300;
}

.home--header {
  text-align: center;
  padding-top: 20px;

  .logo {
    max-width: 100vw;
    height: auto;
  }
}

.app-bar {
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: fixed;
  top: 25px;
  left: 0;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.app-bar a img.logo {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: none;
  font-weight: 300;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

main {
  margin: 0 auto;
  /* Height of the header */
  min-height: 100%;
}

main.home {

  section.hotels--panels {
    margin-top: 20px;
    transform: translateZ(0);

    .hotel-aj--panel,
    .hotel-sp--panel {
      min-height: inherit;
      border: 0 solid rgba(#fff, 0.7);
      padding-bottom: 40px;

      img.hotel--logo {
        height: 80px;
        width: auto;
        box-sizing: border-box;
        display: block;
        margin: 10px auto;
      }

      label.hotel--firstletter {
        float:left;
        border-style: solid;
        border-width: 1px;
        padding: 15px 10px;
        margin: 5px 20px;
        text-align: center;
        font-size: 3.0em;
      }

      p.hotel--description {
        height: 100%;
        padding: 0 20px;
        font-size: 0.9em;
        line-height: 1.4em;
      }

      ul.hotel--pictures {
        list-style-type: none;
        margin: 15px auto;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
        border: 2px solid #fff;
        border-width: 4px 0;

        img {
          max-height: 175px;
        }

        li {
          margin: 0;
          padding: 0;
          display: inline-block;
        }
      }

      button.hotel--reservations {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        padding: 10px 20px;
        border-style: solid;
        border-width: 4px;
        font-size: 1.2em;
      }

      p.hotel--address {
        text-align: center;
        font-size: 1.0em;
        font-weight: 650;
        margin-bottom: 5px;
      }
    }

    .hotel-aj--panel {
      background-color: rgba($aj-primary-tan, 0.7);
      border-width: 1px 0 1px 1px;

      label.hotel--firstletter {
        border-color: rgba(#fff, 0.35);
        background-color: rgba(#fff, 0.15);
        color: #dacfb7;
      }

      p.hotel--description {
        color: $aj-secondary-tan;
      }

      button.hotel--reservations {
        border-color: rgba(#fff, 0.35);
        background-color: rgba($aj-primary-tan, 0.6);
        color: #dacfb7;

        &:hover {
          background-color: rgba($aj-primary-tan, 0.8);
          color: #fff;
        }
      }

      p.hotel--address {
        color: #dacfb7;
      }
    }

    .hotel-sp--panel {
      background-color: rgba($sp-secondary-blue, 0.7);
      border-width: 1px 1px 1px 0;

      label.hotel--firstletter {
        border-color: rgba(#e8eff2, 0.35);
        background-color: rgba(#e8eff2, 0.15);
        color: #e8eff2;
      }

      p.hotel--description {
        color: $sp-primary-white;
      }

      button.hotel--reservations {
        border-color: rgba(#fff, 0.35);
        background-color: rgba($sp-secondary-blue, 0.6);
        color: #e8eff2;

        &:hover {
          background-color: rgba($sp-secondary-blue, 0.8);
          color: #fff;
        }
      }

      p.hotel--address {
        color: #e8eff2;
      }
    }
  }
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: middle;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  main {
    max-width: $wideContainer;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
